.banner{
    position: relative;
    background-color: rgba(37,43,73, .8);
    img{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1170px;
    padding: 230px 0 120px 0;
    @media (max-width: 1200px) {
        padding: 257px 0 126px 0;
    }
    @media (max-width: 430px) {
        padding: 106px 0 52px 0;
    }
    h1{
        color: #FFF;
        text-align: center;
        font-size: $h1;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0 auto;
        @media (max-width: 1200px) {
            font-size: $h1_tablet;
        }
        @media (max-width: 900px) {
            font-size: $h1_mobile;
        }
        @media (max-width: 768px) {
            font-size: $h1_mobile;
        }
    }
}
.banner-title {
    max-width: 1170px;
    margin-bottom: 31px;
    @media (max-width: 1200px) {
        max-width: 984px;
        margin: 0 auto 61px;
    }
    @media (max-width: 430px) {
        max-width: 280px;
        margin: 0 auto 32px;
    }
    &-about{
        max-width: 999px;
        margin: 0 auto;
        @media (max-width: 1200px) {
            max-width: 768px;
        }
        @media (max-width: 900px) {
            max-width: 600px;
        }
        @media (max-width: 900px) {
            max-width: 600px;
        }
        @media (max-width: 430px) {
            max-width: 280px;
        }
    }
    &-about p{
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        @media (max-width: 1200px) {
            font-size: 18px;
        }
        @media (max-width: 900px) {
            font-size: 16px;
        }
        @media (max-width: 430px) {
            font-size: 14px;
        }
    }
}
.banner-content-button {
    margin: 79px auto 0;
    @media (max-width: 1200px) {
        margin: 89px auto 0;
    }
    @media (max-width: 430px) {
        margin: 49px auto 0;
    }
}
button{
    @extend %button;
    transition: .3s;
    @media (max-width: 1200px) {
        width: 314px;
    }
    @media (max-width: 430px) {
        width: 280px;
    }
    &:hover{
        @extend %button;
        background: #E71414;
        transition: .3s;
        @media (max-width: 1200px) {
            width: 314px;
        }
        @media (max-width: 430px) {
            width: 280px;
        }
    }
    &:active{
        @extend %button;
    box-shadow: 4px 4px 30px 0px #FF4343;
    @media (max-width: 1200px) {
        width: 314px;
    }
    @media (max-width: 430px) {
        width: 280px;
    }
    }
}
.button-banner-mobile{
    @extend %button_banner_mobile;
    transition: .3s;
    @media (min-width: 1201px) {
        width: 370px;
        height: 80px;
    }
    @media (max-width: 1200px) {
        width: 314px;
        height: 80px;
    }
    @media (max-width: 430px) {
        width: 280px;
        height: 60px;
    }
    &:hover{
        @extend %button_banner_mobile;
        background: #E71414;
        transition: .3s;
        @media (min-width: 1201px) {
            width: 370px;
            height: 80px;
        }
        @media (max-width: 1200px) {
            width: 314px;
            height: 80px;
        }
        @media (max-width: 430px) {
            width: 280px;
            height: 60px;
        }
    }
    &:active{
        @extend %button_banner_mobile;
    box-shadow: 4px 4px 30px 0px #FF4343;
    @media (min-width: 1201px) {
        width: 370px;
        height: 80px;
    }
    @media (max-width: 1200px) {
        width: 314px;
        height: 80px;
    }
    @media (max-width: 430px) {
        width: 280px;
        height: 60px;
    }
    }
}