.header{
    position: fixed;
    z-index: 2;
    width: 100%;
    background: transparent;
}

.navigation{
    // position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #BABBC5;
    @media (max-width: 765px) {
      border-bottom: none;
      padding: 0 5px;
  }
    @media (max-width: 430px) {
        border-bottom: none;
        padding: 0 5px;
    }
    .logo{
        display: flex;
        align-items: center;
        z-index: 101;
        img{
            @media (max-width: 765px) {
                width: 113px;
            }
            @media (max-width: 430px) {
                width: 102px;
            }
        }
    }
    @media (max-width: 765px) {
        height: 56px;
    }
    @media (max-width: 430px) {
        
    }
}

.navigation-list {
    // position: relative;
    content: "";
    display: flex;
    list-style-type: none;
    @media (max-width: 765px) {
        display: none;
    }
}

.navigation-list__item {
    position: relative;
    display: flex;
    width:  134px;
    @media (max-width: 1024px) {
        max-width: 112px;
    }
    @media (max-width: 900px) {
        max-width: 100px;
    }
    @media (max-width: 765px) {
      max-width: 750px;
    }
    // @media (max-width: 430px) {
    //   max-width: 390px;
    // }
    // @media (max-width: 375px) {
    //   max-width: 360px;
    // }  
    & a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $color_white;
        font-size: 13px;
        font-weight: 700;
        padding: 43px 0 42px;
        text-transform: uppercase;
        transition: .3s;
        @media (max-width: 900px) {
            font-size: 12px;
        }
        @media (max-width: 850px) {
            font-size: 11px;
        }
        @media (max-width: 430px) {
          font-size: 13px;
          padding: 32px 0;
      }
    }
    & a::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        left: 0;
        bottom: 0;
        transition: .3s;
    }
    &:hover a::before{
        background-color: $navigation_hover;
    }
    &:active a{
        color: $color_red;
    }
    &:active a::before{
        background-color: $navigation_active;
    }
}
.scrolled{
    background-color: rgba(37,43,73, .9);
    // backdrop-filter: blur(7px);

    
}
.scrolled-border{
    border-bottom: none;
}


.hamb {
    display: none;
}
  
.popup {
    display: none;
}

@media (max-width: 765px) {
    .navigation-list {
      display: none;
    }
  
    .hamb {
      display: flex;
      align-items: center;
    }
  
    .hamb__field {
      padding: 0 5px;
      cursor: pointer;
      z-index: 101;
    }
  
    .bar {
      display: block;
      width: 24px;
      height: 3px;
      margin: 5px auto;
      background-color: #ffffff;
      transition: 0.2s;
    }
  
    .popup {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: url(/src/img/banner.png) center / cover no-repeat;
      z-index: 100;
      display: flex;
      transition: 0.3s;
    }
  
    .popup.open {
      left: 0;
    }
  
    .popup .navigation-list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      background-color: rgba(37,43,73, .8);
      padding: 84px 20px;
      overflow: auto;
    }
  
    .popup .navigation-list > li {
      width: 100%;
    }
  
    .popup .navigation-list > li > a {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      // padding: 20px 20px;
      color: #FFF;
      font-family: Raleway;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
    }
  
    .popup .navigation-list > li > a:hover {
      // background-color: $navigation_hover;
      // border-radius: 10px;
    }
  
    .hamb__field.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamb__field.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamb__field.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    body.noscroll {
      overflow: hidden;
    }
  }