.work{
    scroll-margin-top: 100px;
    @media (max-width: 765px) {
        scroll-margin-top: 56px;
    }
}
.work-block-img{
    display: flex;
    flex-wrap: wrap;
}
.work-block-img__el{
    position: relative;
    width: calc(100% / 4);
    border: 2px solid #FFF;
    @media (max-width: 768px) {
        width: calc(100% / 2);
    }
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-about{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .3s;
    }
    &-about:hover{
        color: #FFF;
        opacity: .8;
        background-color: #FF4343;
    }
    &-about:active{
        color: #FFF;
        opacity: .8;
        background-color: #B90C0C;
    }
    
}
.work-block-img__el-about{
    display: grid;
    align-content: center;
    justify-content: center;
}
.work-block-img__el-about h4{
    @extend %h4;
    color: #FFF;
    padding: 0 0 36px 0;
    @media (max-width: 1200px) {
        font-size: 18px;
        padding: 0 0 22px 0;
    }
    @media (max-width: 768px) {
        font-size: 24px;
        padding: 0 0 28px 0;
    }
    @media (max-width: 430px) {
        font-size: 18px;
        padding: 0 0 8px 0;
    }
}
.work-block-img__el-about p {
    @extend %p;
    color: #FFF;
    text-align: center;
    @media (max-width: 1200px) {
        font-size: 14px;
    }
    @media (max-width: 768px) {
        font-size: 18px;
    }
    @media (max-width: 430px) {
        font-size: 14px;
    }
}
.work-block-img__el-about a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}