// colors
$navigation_hover: #BABBC5;
$navigation_active: #E71414;
$button_normal_color: #FF4343;
$button_hover_color: #E71414;
$button_active_color: #FF4343;
$color_white: #FFF;
$color_red: #E71414;

// font-size
$h1: 64px;
$h1_tablet: 48px;
$h1_mobile: 36px;
$h2: 36px;
$h3: 30px;
$h4: 24px;
$h5: 18px;
$h6: 13px;

